
*.html
*.pdf
Python/dfTidy.csv
*.pkl
Python/dfTidyMeta.bak
Python/dfTidyMeta.dat
Python/dfTidyMeta.dir
Python/_output/dfTidyMeta.bak
Python/_output/dfTidyMeta.dat
Python/_output/dfTidyMeta.dir
*.png
*.bak
*.dat
*.dir
Python/.pylint.d/behaviorAnalysis1.stats
Python/.pylint.d/optoStats1.stats
*.csv
*.asv
*.pyc
*.fig
*.svg
*.lnk
Matlab/_output/_choiceTask/VP-OPTO-choiceTask-02-Feb-2023-choiceTaskTable.mat
*.mat
*.mat
*.mat
*.mat
